/*Playfair Display files*/
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/playfairdisplay/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Black.woff2') format('woff2'),
        url('../fonts/playfairdisplay/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/playfairdisplay/PlayfairDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/playfairdisplay/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/playfairdisplay/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/playfairdisplay/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/*Roboto files*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
/*HammersmithOne files*/
@font-face {
    font-family: 'HammersmithOne';
    src: url('../fonts/hammersmithone/HammersmithOne-Regular.woff2') format('woff2'),
        url('../fonts/hammersmithone/HammersmithOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
